@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

body {
  padding: 0px 0px 30px;
}

.site-section {
  width: 100%;
}

#header {
  height: 220px;
  flex-wrap: wrap;
}

.site-section,
.nav-menu,
#header-section,
#header-navigation {
  display: flex;
}

#logo {
  margin: 40px auto;
}

.nav-menu {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

li.nav-item,
a.nav-link {
  font-family: "Arial Black", "Gadget", sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  text-decoration: none;
  color: black;
}

a.nav-link:hover,
#active-page {
  color: #0ba39c;
}

#beacon-section {
  background-image: url(images/the-beacon.jpg);
  height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
}

.beacon-article {
  width: 450px;
  height: 270px;
  margin-left: 50%;
}

.beacon-article,
#footer-p {
font-family: Arial, Helvetica, sans-serif;
}

.beacon-article,
#beacon-h1 {
font-size: 20px;
}

#beacon-h1,
.beacon-p {
  white-space: nowrap;
  display: inline-block;
}

#beacon-h1 {
  background-color: white;
  padding: 23px 27px 20px;
  margin: 20px 0 18px;
  font-family: 'Poller One', cursive;
}

.beacon-p,
#read-more,
#footer-p {
  color: white;
}

.beacon-p {
  background-color: #252525;
  margin: 7px auto;
  padding: 12px 27px;
  line-height: 1;
}

#read-more {
  background-color: #0ba39c;
  border: none;
  width: 150px;
  height: 64px;
  margin: 15px 0 0;
  font-size: 16px;
}

#gallery-section {
  padding: 20px 0;

}

.gallery-container {
  padding: 5px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.gallery-image {
  width: 300px;
  height: 242px;
  border: 2px solid #252525;
}

figcaption {
  padding: 25px 0 0;
}

.gallery-link {
  text-decoration: none;
  text-align: center;
  font-family: 'Poller One', cursive;
  font-size: 20px;
  color: black;
}

#site-footer {
  background-color: #252525;
  height: 122px;
}

#footer-banner {
  margin: auto;
  padding: 0 30px;
  justify-content: space-between;
}

#footer-p {
  margin: auto 0;
  font-size: 14px;
}

#social-nav-menu {
  gap: 20px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: block;
  text-indent: -9999px;
}

#twitter-link {
  background-image: url(images/twitterdark.jpg);
}

#twitter-link:hover {
  background-image: url(images/twitterlight.jpg);
}

#fb-link {
  background-image: url(images/fbdark.jpg);
}

#fb-link:hover {
  background-image: url(images/fblight.jpg);
}

#googplus-link {
  background-image: url(images/googplusdark.jpg);
}

#googplus-link:hover {
  background-image: url(images/googpluslight.jpg);
}

#pinterest-link {
  background-image: url(images/pintdark.jpg);
}

#pinterest-link:hover {
  background-image: url(images/pintlight.jpg);
}